<launch>
  <arg name="model" default="$(find spbotv2_description)/urdf/spbotv2.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="camera_enabled" default="true"/>
  <arg name="lidar_enabled" default="true"/>
  <arg name="kinect_enabled" default="true"/>

  
  <arg name="rvizconfig" default="$(find spbotv2_description)/launch/urdf.rviz"/>
  <param name="robot_description" command=" $(find xacro)/xacro '$(find spbotv2_description)/urdf/spbotv2.xacro'  camera_enabled:=$(arg camera_enabled)  lidar_enabled:=$(arg lidar_enabled) kinect_enabled:=$(arg kinect_enabled)" />
  
  
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
